<td>{{input type="text" value=interval.reps }}</td>
<td>X</td>
<td>{{input type="text" value=interval.distancePerRep }}</td>
<td>{{input type="text" value=interval.paceInSeconds }}</td>
<td>{{input type="text" value=interval.restPerRepInSeconds }}</td>
