<td><input type="text" value={{ inputReps }}></td>
<td>X</td>
<td><input type="text" value={{ inputDistance }}></td>
<td><input type="text" value={{ inputPace }}></td>
<td><input type="text" value={{ inputRest }}></td>
